#container {
    position: relative;
    height: 100vh;
    width: 100vw;
}
#up-container {
    position: relative;
    height: 10%;
    width: 100%;
}
#center-container {
    position: relative;
    height: 80%;
    width: 100%;
    text-align: center;
}
.text-area {
    border: 1px solid gray;
}
#threshold {
    width: 50px;
}
.content {
}
.contentblock {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
}
#nocontent span {
    vertical-align:middle;
    display:inline-block;
}
label.dropdown-item{
    cursor: pointer;
}

.textblock {
    padding: 8px;
    position: relative;
    height: 90%;
    overflow: auto;
    word-break: normal;
    word-wrap: break-all;
    white-space: pre-wrap;
}
.highlight {
    background-color: yellow;
}
.highlight:hover {
    background-color: orange;
}
.overhighlight {
    background-color: orange !important;
}
.center-area {
    position: absolute;
    top: 50%;
    left: 0px;
    height: 50%;
    width: 100%;
    text-align: center;
    line-height: 100%;
    
}
.nodiv {
    display: none;
}
.typeword {
    resize: none;
}